<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add an Employee</title>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<script type = "text/javascript">

	function validate(){
		
		if(document.employeeForm.firstName.value == ""){
			alert("Please enter the employee's first name");
			document.employeeForm.firstName.focus();
			return false;
		}
		
		if(document.employeeForm.lastName.value == ""){
			alert("Please enter the employee's last name");
			document.employeeForm.lastName.focus();
			return false;
		}
		
		if(document.employeeForm.role.value == ""){
			alert("Please enter the employee role");
			document.employeeForm.role.focus();
			return false;
		}
		
			return ( true );
	}
	
</script>
<body>
<header>
<h1>Add Employees</h1>
</header>
<form th:object="${newEmployee}" 
th:action="@{/updateEmployee/{id}(id=${newEmployee.id})}" method=POST name= "employeeForm" onsubmit =  "return(validate());" >>

First Name:<br>
<input name="firstName" size="20" th:field="*{firstName}"><br /><br>

Last Name:<br>
<input name="lastName" size="20" th:field="*{lastName}"><br /><br>

Role:<br>
<input name="role" size="20" th:field="*{role}"><br /><br>

Equipment:<br>
<select name = "equipmentList" multiple = "multiple" size = "6" th:field = "*{equipmentList}">

	<option th:each = "equipment : ${equipments}" th:value = "${equipment.id}" th:text="${equipment.name} + ' | ' + ${equipment.type} + ' | ' + ${equipment.status}"></option>

</select>
<input name="submit" type="submit" value="submit" />
</form>
</body>
<a href="../viewEmployees">View All Employees</a><br>
<a href="../mainMenu">Main Menu</a><br>
</html>