<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Main Menu</title>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

	This is the main menu. Good job, you made the login work I guess...?
	<br>
	<br>
	
	<br>
	<br>
		<a href="inputUser">Add a new User</a><br />
		<a href="viewUsers">View all Users</a><br />
		<a href="inputContract">Add a new contract using customer page</a><br />
		<a href="viewContracts">View all Contracts</a><br />
		<a href="inputEquipment">Add new Equipment</a><br />
		<a href="viewEquipment">View Equipment</a><br />
		<a href="inputEmployee">Add Employee</a><br />
		<a href="viewEmployees">View Employees</a><br />
	<br>
	<br>

	<a href = "logout">Logout</a>

</body>
</html>