<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<header>
<h1>View Employees</h1>
</header>
<form>
<div style="text-align:center;">
  <div style="width:75%; margin: 0 auto; text-align:left;">
    <table style="width:100%;" border="1">
	<tr>
		<th>ID</th>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Role</th>
		
<tr th:each="currentEmployee : ${newEmployee}" >
  	<td th:text="${currentEmployee.id}" />
 	<td th:text="${currentEmployee.firstName}" />
 	<td th:text="${currentEmployee.lastName}" />
 	<td th:text="${currentEmployee.role}" />
	<td><a th:href="@{/editEmployee/{id}(id=${currentEmployee.id})}">Edit</a></td>
		 
	<td><a th:href="@{/deleteEmployee/{id}(id=${currentEmployee.id})}">Delete</a></td>

</table>
</div>
</div>
</form>
<br>
<a href="../mainMenu">Main Menu</a><br>
<a href="../inputEmployee">Add new Employee</a>	 
</body>
</html>