<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Equipment Status</title>
</head>
<body>
<form>
<table>
<tr th:each="currentEquipment : ${newEquipment}" >

<td th:text="${currentEquipment.id}" />
 <td th:text="${currentEquipment.name}" />
 <td th:text="${currentEquipment.type}" />
 <td th:text="${currentEquipment.status.status}" />
 <td th:text="${currentEquipment.status.location}" />
 <td th:text="${currentEquipment.status.duration}" />
 
	<td><a 
	th:href="@{/editEquipmentStatus/{id}(id=${currentEquipment.id})}">Edit Status</a></td>
</tr>
</table>
</form>
<a href="../inputEquipment">Add new Equipment</a>
<a href="../viewEquipment">View Equipment</a>
<a href="mainMenu">Back to Homepage</a><br>
</body>
</html>