<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Equipment Status</title>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<header>
<h1>Equipment</h1>
</header>
<form>
<div style="text-align:center;">
  <div style="width:75%; margin: 0 auto; text-align:left;">
    <table style="width:100%;" border="1">
<tr th:each="currentEquipment : ${newEquipment}" >

<td th:text="${currentEquipment.id}" />
 <td th:text="${currentEquipment.name}" />
 <td th:text="${currentEquipment.type}" />
 <td th:text="${currentEquipment.status.status}" />
 <td th:text="${currentEquipment.status.location}" />
 <td th:text="${currentEquipment.status.duration}" />
 
	<td><a 
	th:href="@{/editEquipmentStatus/{id}(id=${currentEquipment.id})}">Edit Status</a></td>
</tr>
</table>
</div>
</div>
</form>
<a href="../inputEquipment">Add new Equipment</a>
<a href="../viewEquipment">View Equipment</a>
<a href="mainMenu">Back to Homepage</a><br>
</body>
</html>