<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Request a new Contract</title>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<h1>How can we help?</h1>
<h2>Our employees will do pretty much anything for money!</h2>
<p>


</p>
<script type = "text/javascript">

	function validate(){
		
		if(document.contractForm.title.value == ""){
			alert("Please enter the title of the contract.");
			document.contractForm.title.focus();
			return false;
		}
		
		if(document.contractForm.length.value == ""){
			alert("Please enter the length of the contract.");
			document.contractForm.length.focus();
			return false;
		}
		
		var numbers = /^[-+]?[0-9]+$/;
		if(!contractForm.manpower.value.match(numbers)){
			alert("Please enter number of workers as an integer number(0-9).");
			document.contractForm.manpower.focus();
			return false;
		}
			
			return ( true );
	}
	
</script>
<body>
<h1>Add a Contract</h1>
<form th:object="${newContract}" 
th:action="@{/addCustomerContract/{id}(id=${newContract.id})}" method=POST name= "contractForm" onsubmit =  "return(validate());">

Title:<br>
<input name="title" size="20" th:field="*{title}"><br /><br>

Hours of work:<br>
<input name="length" size="20" th:field="*{length}"><br /><br>

Number of workers:<br>
<input name="manpower" size="20" th:field="*{manpower}"><br /><br>

Put any notes you think are relevant for us to know in this box!<br>
<TEXTAREA Name="userNotes" ROWS="5" COLS="50" th:field = "*{userNotes}"></TEXTAREA>
<br><br>
<input name="submit" type="submit" value="submit" />
</form>


<a href="viewContracts">View all Contracts</a><br>
<a href="../mainMenu">Back to Main Menu</a><br>
</body>
</html>