<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Sign In Error</title>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<header>
<h1>Error</h1>
</header>
	
	Something went horribly wrong. It could be one of the following:
	<br>
	1.You did not enter the correct username and / or password.
	<br>
	2.Its something we did.
	<br>
	3. You are trying to use something that is only for an ADMIN account.
	<br>
	Please try again at your earliest convenience.
	<br>
	<br>
	<a href = "../mainMenu">Click here to return to somewhere safe.</a>

	
</body>
</html>