<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Sign In Error</title>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>

	
	Something went horribly wrong. It could be one of the following:
	<br>
	1.You did not enter the correct username and / or password.
	<br>
	2.Its something we did.
	<br>
	Please try again at your earliest convenience.
	<br>
	<br>
	<a href = "../mainMenu">Click here to try again.(at your convenience.(but do try to hurry))</a>
	<br>
	<a href = "../customerMenu">Customer Menu</a>
	
</body>
</html>