<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add a User</title>
</head>
<script type = "text/javascript">

	function validate(){
		
		if(document.userForm.username.value == ""){
			alert("Please enter your username");
			document.userForm.username.focus();
			return false;
		}
		
		if(document.userForm.password.value == ""){
			alert("Please enter your password");
			document.userForm.password.focus();
			return false;
		}
		
		if(document.userForm.firstName.value == ""){
			alert("Please enter your First Name");
			document.userForm.firstName.focus();
			return false;
		}
		
		if(document.userForm.lastName.value == ""){
			alert("Please enter your Last Name");
			document.userForm.lastName.focus();
			return false;
		}
		
		/* if(document.userForm.userType.value == ""){
			alert("Please enter the User Type");
			document.userForm.userType.focus();
			return false;
		} */
			return ( true );
	}
	
</script>
<body>
<form th:object="${newUser}" 
th:action="@{/updateUser/{id}(id=${newUser.id})}" method=POST name= "userForm" onsubmit =  "return(validate());">>

Username: <input name="username" size="20" 
th:field="*{username}"><br />

Password: <input name="password" size="20" 
th:field="*{password}"><br />

First Name: <input name="firstName" size="20" 
th:field="*{firstName}"><br />

Last Name: <input name="lastName" size="20" 
th:field="*{lastName}"><br />

User Type: <select name = "roles" th:field = "*{roles}">
				<option value = "ROLE_ADMIN">Administrator</option>
				<option value = "ROLE_USER">Customer</option>
			</select>
Is active:<input type="checkbox" name="active" th:checked="*{active}" />
<input name="submit" type="submit" value="submit" />
</form>

<a href="viewUsers">View all Users</a>
<a href="mainMenu">Main Menu</a><br>
<br>
</body>
</html>