<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add an Employee</title>
</head>
<body>
<h1>Add Employees</h1>
<form th:object="${newEmployee}" 
th:action="@{/updateEmployee/{id}(id=${newEmployee.id})}" method=POST name= "employeeForm" >>

First Name: <input name="firstName" size="20" th:field="*{firstName}"><br />

Last Name: <input name="lastName" size="20" th:field="*{lastName}"><br />

Role: <input name="role" size="20" th:field="*{role}"><br />

<input name="submit" type="submit" value="submit" />
</form>
</body>
<a href="viewEmployees">View All Employees</a><br>
<a href="mainMenu">Main Menu</a><br>
</html>