<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View all Contracts</title>
</head>
<body>
<h1>Contract List</h1>
<form>
<table>	
		<tr>
			<th>ID</th>
			<th>Approval Status</th>
			<th>Title</th>
			<th>Length</th>
			<th>Manpower</th>
			<th>Author</th>
			<th>Notes</th>

		</tr>
		<tr th:each="currentContract : ${newContract}" >
			
			<td th:text="${currentContract.id}" />
			<td th:text="${currentContract.approvalStatus}" />
			<td th:text="${currentContract.title}" />
			<td th:text="${currentContract.length}" />
			<td th:text="${currentContract.manpower}" />
			<td th:text="${currentContract.author}"/>
			<td width = 250 th:text="${currentContract.notes}"/>
			<td><a th:href="@{/editContract/{id}(id=${currentContract.id})}">Edit</a></td>
			<td><a th:href="@{/deleteContract/{id}(id=${currentContract.id})}">Delete</a></td>
		
		</tr>
</table>
</form>
<a href="../inputContract">Add a new Contract</a>
<a href="../mainMenu">Back to Main Menu</a><br>
</body>
</html>